{% extends "base.html" %}
  
{% block title %}Yeni Kullanıcı{% endblock title %}
  
{% block content %}
<div class="col-md-12">    
    <form method="POST" class="post-form" action="/addnew">  
    {% csrf_token %}  
    <div class="container">  
        <div class="col-12">  
        <h3>Bilgileriniz Girin</h3>  
        </div>    
     
        <div class="mb-3"> 
            <label>İsim:</label>  
            {{ form.name }}   
        </div> 
        <div class="mb-3"> 
            <label>Email:</label>  
            {{ form.email }}   
        </div>  
        <div class="mb-3"> 
            <label>Telefon:</label>  
            {{ form.contact }}   
        </div>
        <div class="mb-3"> 
            <button type="submit" class="btn btn-primary">Gönder</button>    
        </div> 
    </div>  
    </form>  
</div> 
{% endblock content %} 